.overview-container{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    position: relative;
}
.review-1{
    display: flex;
    min-height: 30vh;
    width: 90%;
    background-color: var(--back_ground);
}
.review-1 .personal-rev{
    width: 80%;
    min-height: 30vh;
    background-color: var(--back_ground);
    padding-bottom: 20px;
}
.review-1 .passport-rev{
    width: 20%;
    min-height: 30vh;
    max-height: 30vh;
    background-color: var(--white);
    margin-top: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.passport-rev img{
    width: 90%;
    height: 28vh;
}


.review-2{
    width: 90%;
    min-height: 10vh;
    background-color: var(--white);
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 20px;
}
.review-2 .sec2_inputs{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.review-3{
    width: 90%;
    min-height: 30vh;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    position: relative;
    padding-bottom: 20px;
    
}
.review-3 .selected-doc{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width:90%;
}
.review-3 .selected-doc img{
    width: 90%;
    height: 252px;
    margin-top: 10px;
    border: 1px dashed var(--primary);
    border-radius: 10px;
}
.overview-container .agree{
    display: flex;
    margin-top: 20px;
}
.agree span{
    margin-left: 20px;
}

@media only screen and (max-width: 767px) {
    .overview-container{
        display: flex;
        min-height: 100vh;
        padding-top: 20px;
        overflow-y: scroll;
    }
    .review-1{
        display: flex;
        min-height: 30vh;
        width: 100%;
        background-color: var(--back_ground);
        position: relative;
    }
    .review-1 .personal-rev{
        width: 100%;
        min-height: 30vh;
        background-color: var(--back_ground);
        padding-bottom: 20px;
    }
    .review-1 .passport-rev{
        width: 0%;
        min-height: 0vh;
        max-height: 0vh;
        background-color: var(--white);
        margin-top: 70px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    
    }
    .passport-rev img{
        width: 0%;
        height: 0vh;
    }
    
    
    .review-2{
        width: 100%;
        min-height: 10vh;
        background-color: var(--white);
        position: relative;
        padding-bottom: 50px;
        margin-bottom: 20px;
    }
    .review-2 .sec2_inputs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .review-3{
        width: 100%;
        min-height: 30vh;
        background-color: var(--white);
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        position: relative;
        padding-bottom: 20px;
        
    }
    .review-3 .selected-doc{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width:90%;
    }
    .review-3 .selected-doc img{
        width: 90%;
        height: 252px;
        margin-top: 10px;
        border: 1px dashed var(--primary);
        border-radius: 10px;
    }
    .overview-container .agree{
        display: flex;
        margin-top: 20px;
    }
    .agree span{
        margin-left: 20px;
    }
}