.paystack_container{
    width: 50%;
    min-height: 100px;
    border: 0.5px solid var(--primary);
    margin:20px;
    padding: 20px;
}
@media only screen and (max-width: 767px) {
    .paystack_container{
        width: 90%;
        padding: 10px;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
}