.section1_container{
margin-top: 30px;
}
.section1_container .main_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 50px;
    background-color: var(--white);
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    padding-bottom: 50px;
}
@media only screen and (max-width: 767px) {
    .section1_container{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        overflow-y: scroll;
        margin-top: 10px;
        height: 80vh;
    }
    .section1_container .main_container{
        display: flex;
        flex-direction: column;
        width: 100%;
        grid-template-columns: 1fr;
        gap: 10px 10px;
        background-color: var(--white);
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 20px;
        border-radius: 10px;
        position: relative;
        box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
        padding-bottom: 10px;
        overflow-y: scroll;
        margin-left: auto;
        margin-right: auto;
    }
}