.app_input {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.app_input input {
  border: none;
  border-bottom: 1px solid var(--stroke);
  height: 25px;
  transition: all 0.2s;
}
.app_input input:hover {
  border: none;
  border-bottom: 1px solid var(--primary);
}
.app_input input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--primary);
}
.app_input select{
  height: 37px;
  border-radius: 10px;
  padding-left:10px;
  border: 1px solid var(--stroke);
  background-color: var(--white);
  font-size: 15px;
  /* margin-top: 20px; */
}

.app_input select:focus{
  border: none;
  outline: 1px solid var(--primary);
}
.app_input .input_label .asteric{
color: var(--red);
margin-left: 5px;
}
.input_error{
  width: 100%;
  color: red;
}
