.nav_link{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.5s;
}
.nav_link svg{
    height: 14px;
    width: 18px;
    margin-right: 10px;
    margin-left: 20px;
    transition: all 0.5s;
    
}
.nav_link span{
    color: var(--white);
    font-size: 15px;
    transition: all 0.5s;
}
.nav_link.active{
    background-color: var(--primary);
}
.nav_link:hover{
    background-color: var(--primary);
}